#formTitle {
	-fx-font-size: 24px;
}


.detail,
.container,
.messageLabel {
	-fx-background-color: white;
	-fx-font-family: 'Helvetica', Arial, sans-serif;
	-fx-text-fill: black;
	-fx-font-size: 18px;
}

#main,
#root {
	-fx-background-color: white;
}

.capacityField {
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-color: black;
	-fx-border-width: 1px;
}

.button {
	-fx-text-fill: white;
	-fx-background-color: gray;
}

.error {
	-fx-text-fill: red;
}

.success {
	-fx-text-fill: green;
}

.date-picker-popup > * > .spinner > .button:hover > .left-arrow,
.date-picker-popup > * > .spinner > .button:hover > .right-arrow {
	-fx-background-color: #347C94;
}

.date-picker-popup > * > .date-cell:hover,
.date-picker-popup > * > .date-cell.selected {
	-fx-text-fill: white;
	
}

.date-picker-popup * {
	-fx-text-fill: #347C94;
}

.date-picker-popup > * > .previous-month:hover,
.date-picker-popup > * > .next-month:hover {
    
}

.date-picker-popup > * > .spinner > .button {
    -fx-background-color: none;
}


.date-picker-popup > * > .spinner > .button:pressed > .left-arrow,
.date-picker-popup > * > .spinner > .button:pressed > .right-arrow {
    -fx-background-color: #4E98B2;
}

.date-picker-popup > * > .disabled {
	-fx-text-fill: #B6A5BB;
	-fx-background-color: #ffc0cb;
}


.date-picker-popup > * > .disabled:hover {
	-fx-text-fill: #B6A5BB;
}