
.button:hover {
    -fx-background-color:#B7A57A;
    -fx-background-radius:0;
    -fx-border-color:black;
    -fx-border-width: 0 3 3 0;
    -fx-background-insets: 0;
}
.hyperlink:hover {
    -fx-underline: true;
}
.button {
    -fx-font: bold italic 20pt "Arial";
    -fx-effect: dropshadow( one-pass-box , Purple , 16 , 0.0 , 2 , 0 );
}
.actionTarget{
     color:red;
}  
