#menuButtonBar,
#theUserDisplayName,
#main,
#menuContainer {
	-fx-background-color: #FF5F14;
}

#main {
	-fx-font-family: 'Helvetica', Arial, sans-serif;
	-fx-text-fill: white;
	-fx-font-size: 18px;
}

#selected {
	-fx-font-fill: white;
}

#notSelected {
	-fx-font-fill: yellow;
}

