#menuButtonBar,
#theUserDisplayName,
#main,
#menuContainer,
.menuButton {
	-fx-background-color: #53B799;
}

#main,
.menuButton,
.userName {
	-fx-font-family: 'Helvetica', Arial, sans-serif;
}


#main {
	-fx-text-fill: white;
	-fx-font-size: 18px;
}

.menuButton,
.userName {
	-fx-font-size: 16px;
	-fx-text-fill: white;
}


.menuButton:hover,
.active {
	-fx-font-size: 18px;
	-fx-text-fill: #53B799;
	-fx-background-color: white;	
}

.rootPane {
	-fx-background-color: #8C8E8C;
}

.subMenuBar {
	-fx-background-color: white;
}

