#menuButtonBar,
#main {
	-fx-background-color: #53B799;
}

.menuContainer,
.menuButton,
.userName,
.subMenuBar .button,
.date-picker-popup > * > .spinner > .button:hover > .left-arrow,
.date-picker-popup > * > .spinner > .button:hover > .right-arrow {
	-fx-background-color: #347C94;
}

#main,
.menuButton,
.userName,
.subMenuBar {
	-fx-font-family: 'Helvetica', Arial, sans-serif;
}

.subMenuBar .date-picker-popup > * > .date-cell:hover,
.subMenuBar .date-picker-popup > * > .date-cell.selected,
.menuButton,
.userName,
#main {
	-fx-text-fill: white;
	
}

.subMenuBar .button {
	-fx-background-color: white;
	-fx-font-fill: black;
}




#main {
	-fx-font-size: 18px;
}

.menuButton,
.userName {
	-fx-font-size: 16px;
}

.menuButton:hover,
.active,
.subMenuBar,
.subMenuBar .label,
.subMenuBar .date-picker-popup > * > .date-cell,
.date-picker .text-field,
.subMenuBar .button:hover {
	-fx-text-fill: #347C94;
}


.menuButton:hover,
.active,
.subMenuBar {
	-fx-font-size: 18px;
	-fx-background-color: white;	
}

.root,
.background,
#pane {
	-fx-background-color: #DDECF5;
}


subMenuBar {
	-fx-background-color: white;
}



.date-picker-popup > * > .previous-month:hover,
.date-picker-popup > * > .next-month:hover {
    
}

.date-picker-popup > * > .spinner > .button {
    -fx-background-color: none;
}


.date-picker-popup > * > .spinner > .button:pressed > .left-arrow,
.date-picker-popup > * > .spinner > .button:pressed > .right-arrow {
    -fx-background-color: #4E98B2;
}

.subMenuBar .button {
	-fx-background-radius: 0px;
}


.subMenuBar * {
	-fx-font-size: 16px;
	-fx-text-fill: black;
}

